@font-face {
    font-family: 'Raisonne';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raisonne.woff) format('woff');
}

:root {
    --background: #14161a;
    --accent-color: #0e73e6;
    --hover-accent-color: #1361b9;
}

// ========== INDEX PAGE ================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// ============= CUSTOM SCROLL BAR ==============

::-webkit-scrollbar {
    width: 16px; // To make hidden scrollbars, just set wdith to 0px.
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;

    &:hover {
        background: var(--hover-accent-color);
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
    }
}

// ====== FIREFOX SCROLLBAR ======
html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--background);
}
// ====== FIREFOX SCROLLBAR ======

// ============= CUSTOM SCROLL BAR ==============

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Raisonne;
    scroll-behavior: smooth;
    overflow-y: hidden;
    background: var(--background);
    background-blend-mode: overlay, hard-light, normal;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: var(--accent-color);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}